<div>音声ファイルをアップロードしてください</div>
<%= render partial: "input_each", locals: {
        url: recognize_api_face_recognition_url} %>
<div id="audio_field">
  <audio id="audio" controls></audio>
</div>
<script>
  var audio_field = $("#audio_field");
  audio_field.hide();
  var uploadFile;
  $('#upload_form').submit(function(){
    var form = $('#upload_form').get()[0];
    // FormData オブジェクトを作成
    var formData = new FormData(form);
    var request = $.ajax({
      url: '<%= upload_api_sound_index_url %>',
      type: 'POST',
      data: formData,
      // Ajaxがdataを整形しない指定
      processData: false,
      // contentTypeもfalseに指定
      contentType: false
    });
    request.done(function(data) {
      console.log(data);
    });
    return false;
  });

  var audioControl = function(){
    if(!uploadFile) return;
    audio_field.show();
    var reader = new FileReader();
    // File APIを使用し、ローカルファイルを読み込む
    reader.onload = function(evt) {
      //var audio = new Audio();
      var audio = document.getElementById("audio");
      audio.src = evt.target.result;
      audio.load();
    }
    reader.readAsDataURL(uploadFile);
  }

  $("#upload_file").change(function() {
    var file = this.files[0];
    if(!file.type.match('audio.*')) return;
    uploadFile = file;
    audioControl();
  });
</script>