<h2>検証のため作成中のもの一覧</h2>
<table border="1">
  <tr><td>API名</td><td>リンク</td><td>説明</td></tr>

  <tr><td>顔認識API</td><td><%= link_to("Face Recognize API", inspection_url) %></td><td>アップロードした画像から顔等を検出するAPI</td></tr>
   <tr><td>JSONConverterAPI</td><td><%= link_to("JSON Converter API", json_converter_url) %></td><td>フォーマットに従った、xlsやxlsxやcsvファイルをJSON形式に変換するAPI</td></tr>
</table>